<nav class="navbar-expand-lg navbar-light bglight">
      <ul class="navbar-nav">
        <li>
            <a href="/" class="navbar-brand">
            <img src="{{ url_for('static', filename='images/' + 'logo_sujet_25.png') }}" alt="" width="30" height="30" class="d-inline-block align-top">
            <span>Sujet 25</span>
            </a>
            <a class="btn btn-success" href="/ski/show">ski</a>
            <a class="btn btn-success" href="/type-ski/show">types de skis</a>
            <a class="btn btn-success" href="/ski/filtre">filtre de skis</a>
        </li>
      </ul>

</nav>
